@charset "UTF-8";

/* Body Styles */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.925);
}

/* Nav styles */
li {
    display: inline;
}

#nav li {
    list-style-type: none;
    display: block;
    width: 15%;
    float: right;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}



nav img {
    padding: 6px 0px 6px 20px;
}

#nav a {
    color: white;
    font-size: 3vh;

}

#nav a:hover {
    color: #f6ae57;
}

/* Image styles */
img#banner {
    width: 100%;
    position: relative;
}

/* Footer Styles */
footer {
    background-color: rgba(0, 0, 0, 0.925);
    padding: 8px;
    color: rgba(21, 17, 17, .6);
    margin: 1px;
}

footer a {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}

footer p {
    width: 10%;
    display: block;
    float: right;
}

footer p::after {
    content: "";
    display: table;
    clear: both;
}

footer:after {
    content: "";
    clear: both;
    display: table;
}

footer p a:link,
footer p a:visited {
    text-decoration: none;
    color: black;
}

footer p a:active,
footer p a:hover {
    text-decoration: underline;
    color: white;
}

#footerBanner {
    width: 12.5%;
    margin-left: 490px;

}

#footerText {
    color: white;
    float: left;
    width: 30%;

}


#LPS {
    background-color: #f7941d;
    padding: 15px;
    font-size: 20px;
    width: 30px;
    border-radius: 100%;
    margin-top: 10px;
}


/* Media queries */
@media screen and (max-width: 500px) {
    nav {}

    footer p {
        float: left;
    }

    #LPS {
        width: 200%;
        margin-left: 150px;

    }

    #footerBanner {
        margin-right: 350px;
        float: right;
        width: 25%;
        margin-top: -6.9vh;
    }

    #footerText {
        margin-right: 25px;
        float: right;
        margin-top: -6.9vh;
        width: 20%;

    }


    .icons {
        padding: 0px 20px;
    }
}