@charset "UTF-8";

/* Body Styles */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.925);
}

/* Nav styles */
li {
    display: inline;
}

#nav li {
    list-style-type: none;
    display: block;
    width: 15%;
    float: right;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}



nav img {
    padding: 10px 0px 10px 20px;
}

#nav a {
    position: relative;
    color: white;

}

#nav a:hover {
    color: #f6ae57;
    transition: opacity 1 0.5s, width 100% 0.5s;
    transition: color 1s;
}

#nav a::after {
    opacity: 0;
}

/* Image styles */
img#banner {
    width: 100%;
    position: relative;
}

/* Footer Styles */
footer {
    background-color: rgba(0, 0, 0, 0.925);
    padding: 8px;
    color: rgba(21, 17, 17, .6);
    margin: 1px;
}

footer a {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}

footer p {
    width: 10%;
    display: block;
    float: right;
}

footer p::after {
    content: "";
    display: table;
    clear: both;
}

footer:after {
    content: "";
    clear: both;
    display: table;
}

footer p a:link,
footer p a:visited {
    text-decoration: none;
    color: black;
}

footer p a:active,
footer p a:hover {
    text-decoration: underline;
    color: white;
}

#footerBanner {
    width: 12.5%;
    margin-left: 628px;

}



#LPS {
    background-color: #f7941d;
    padding: 15px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    margin-top: 10px;
}

/* Map Styles */
iframe {
    width: 100%;
}

/* Media queries */
@media screen and (max-width: 480px) {
    nav.horizontal a {
        font-size: 1.5em;
        line-height: 2.2em;
    }
}