@charset "UTF-8";

/* Contact Information Styles */

section#contactInformation h1 {
    text-align: center;
    font-size: 2em;
    padding: 30px 0px;
}

/* This code affects the form and give it a box sizing, display, margin-top, position, left, bottom and height. */
form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-top: 0em;
    position: relative;
}

#formHeader {
    text-align: center;
}

.input {
    width: 100%;
    position: relative;
    left: 109%;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 100%;
    position: relative;
    left: 109%;
}


form>button {
    position: relative;
    left: 109%;
}

/* Contact Form Styles */
div#contactForm {
    background-color: rgb(226, 226, 226);
}

div#contactForm h1 {
    font-size: 2em;
    padding: 30px 0px;
}



/* Map Styles */
#maps {
    width: 100%;

}

/* Page Grid Styles */
div.row {
    clear: both;
}

div.row::after {
    clear: both;
    content: "";
    display: table;
}

div[class^="col-"] {
    float: left;

}

div.col-1-2 {
    width: 50%;
}