@charset "UTF-8";

.container {
    top: 5px;
    text-align: center;
    color: white;
}

#bannerTextOne {
    color: rgba(255, 255, 255, 0.826);
    position: absolute;
    bottom: 10%;
    left: 20px;
    font-size: 10em;
}

#bannerTextTwo {
    color: rgba(255, 255, 255, 0.826);
    position: absolute;
    bottom: 15%;
    left: 20px;
    font-size: 10em;
}