@charset "UTF-8";

/* Contact Information Styles */
div#contactInformation{
    background-color: white;
    
}

aside#contactAside {
    padding-left: 25px;
}

aside#contactAside h1 {
    font-size: 3em;
    padding: 30px 0px;
    text-decoration: underline #f7941d;
}

/* Contact Form Styles */

div#contactForm h1 {
    text-align: center;
    font-size: 3em;
    padding: 30px 0px;
    text-decoration: underline #f7941d;
}

/* This code affects the form and give it a box sizing, display, margin-top, position, left, bottom and height. */

form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin-top: 0em;
    position: relative;
    margin-left: 32.5%;


}

.formStyles {
    width: 51.6%;
    position: relative;
    background: transparent;
    border: none;
    border-bottom: 2px solid #f7941d;
    font-size: 10px;

}

button {
    background-color: white;
    margin-left: 15%;
    border: none;
    width: 90px;
    height: 30px;
    text-align: center;
    color: #4b4b4b;
    border-radius: 5px;
}

/* Map Styles */
#maps {
    width: 100%;

}

/* Page Grid Styles */
div.row {
    clear: both;
    background-color: rgb(226, 226, 226)
}

div.row::after {
    clear: both;
    content: "";
    display: table;
}

div[class^="col-"] {
    float: left;

}

div.col-1-2 {
    width: 50%;
}

