@charset "UTF-8";

/* Media queries */
@media only screen and (max-width: 550px) {
    #nav-toggle {
        text-decoration: none;
        float: left;
        padding-left: 20px;
        margin-top: 14%;
        font-size: 50px;
        color: white;
        width: 20%;
        margin-bottom: 1px;
    }
    
    

    

    #homeImage {
        float: left;
        padding-left: 20px;
        margin-top: 10%;
        width: 60%;
        margin-bottom: 1px;
    }

    .nav {
        display: none;
    }

    div.col-4-10 {
        display: none;
    }

    div.col-5-10 {
        display: none;
    }

    div.col-1-10 {
        width: 25%;
        margin-bottom: 8.5%;
        padding-top: 0px;

    }

}

@media screen and (max-width: 1160px) {
    div.col-5-10 {
        display: none;
    }

    div.col-1-10 {
        margin-left: 5%;
        margin-top: 0%;
    }

    div.col-4-10 {
        width: 30%;
        margin-left: 10%;
        margin-top: 3%;
        margin-bottom: 1%;

    }
    nav{
        width: 90%;
    }
    
    
}

@media screen and (min-width: 550px) {
    #nav-toggle{
        display: none;
    }


}