@charset "UTF-8";

/* Body Styles */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.925);
}

/* Nav styles */
li {
    display: inline;
}

#nav li {
    list-style-type: none;
    display: block;
    width: 15%;
    float: right;
    text-decoration: none;
    text-align: center;
    padding: 25px 20px 20px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}



#nav a {
    position: relative;
    color: white;
    font-size: 3vh;
}

#nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 25px;
    background-color: #f7941d;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

#nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 25px;
    right: 0%;
    background-color: #f7941d;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);

}

#nav a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Image styles */
img#banner {
    width: 100%;
    position: relative;
}

#homeImage {
    float: left;
    width: 20%;
    margin: 5px 40px;

}

/* Footer Styles */
footer {
    background-color: rgba(0, 0, 0, 0.925);
    padding: 8px;
    color: rgba(21, 17, 17, .6);
}

footer a {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}

footer p {
    display: block;
    float: right;
}

footer:after {
    content: "";
    clear: both;
    display: table;
}

footer p a:link,
footer p a:visited {
    text-decoration: none;
    color: black;
}

footer p a:active,
footer p a:hover {
    text-decoration: underline;
    color: white;
}

#footerBanner {
    width: 59%;
    padding-left: 10%;
    padding-top: 6px;
}

/* Footer Grid Styles */
div.row {
    clear: both;
}

div.row::after {
    clear: both;
    content: "";
    display: table;
}

div[class^="col-"] {
    float: left;

}

div.col-1-10 {

    width: 10%;
}

div.col-2-10 {
    width: 30%;
}

div.col-4-10 {
    width: 40%;
}

div.col-4-10 p {
    color: white;

}

div.col-4-10 img {
    width: 50%;
    margin-left: 20%;
}

div.col-1-10 p {
    padding-right: 20%;
}

#LPS {
    background-color: #f7941d;
    padding: 16px;
    font-size: 25px;
    width: 27px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    margin-top: 10px;
}

/* Map Styles */
iframe {
    width: 100%;
}

label#navButton {
    margin: 0 0 0 20px;
    font-size: 25px;
    line-height: 50px;
    display: none;
    color: white;
    float: left;
}

input#toggle {
    display: none;
}